.out-circle{
	display:flex;
	background-color:#fc9003;
	width:200px;
	height:200px;
	justify-content:center;
	align-items:center;
}
#circle, .out-circle{
	border-radius:50%;
}

#circle{
	display:flex;
	width:1px;
	height:1px;
	justify-content:center;
	align-items:center;
  	background-color:#e0dfde;
}
.blink{
	animation:blink 1s linear infinite;
}

@keyframes blink {
	0%{
		width:1px;
		height:1px;
		opacity:1;
		font-size:1px;
	}

	50%{
		opacity:0.5;
	}

	100%{
		width:200px;
		height:200px;
		opacity:1;
		font-size:50px;
	}
}
